{"data":"c3RyZWFtbGl0Pj0xLjUyLjAKcGxvdGx5Pj02LjUuMApwYW5kYXM+PTIuMS4wCmdvb2dsZS1hbmFseXRpY3MtZGF0YT49MC4xOS4wCmdvb2dsZS1hdXRoPj0yLjAuMApnb29nbGUtYXV0aC1vYXV0aGxpYj49MS4wLjAKZ29vZ2xlLWFwaS1jb3JlPj0yLjAuMApnb29nbGUtYXBpLXB5dGhvbi1jbGllbnQ+PTIuMC4wCmdvb2dsZS1hdXRoLWh0dHBsaWIyPj0wLjEuMApmYXN0YXBpPj0wLjEwNC4wCnV2aWNvcm5bc3RhbmRhcmRdPj0wLjI0LjAKaHR0cHg+PTAuMjUuMApweWRhbnRpYz49Mi4wLjAKCg=="}