{"data":"IyBQeXRob24gZGVwZW5kZW5jaWVzIGZvciBWZXJjZWwKZ29vZ2xlLWFuYWx5dGljcy1kYXRhPj0wLjE5LjAKZ29vZ2xlLWF1dGg+PTIuMC4wCmdvb2dsZS1hcGktY29yZT49Mi4wLjAKZ29vZ2xlLWFwaS1weXRob24tY2xpZW50Pj0yLjAuMApnb29nbGUtYXV0aC1odHRwbGliMj49MC4xLjAKZmFzdGFwaT49MC4xMDQuMApweWRhbnRpYz49Mi4wLjAKbWFuZ3VtPj0wLjE3LjAKCg=="}